<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Todoリスト</title>
</head>
<body>
<p>do</p>
<ul>
{% for row in do %}
    <li>{{row.detail}}</li>
    <form method="POST" action="/update">
    <input type="hidden" name="id" value={{row.id}}>
    <input type="hidden" name="flag" value="doing">
    <input type="submit">
    </form>
{%endfor%}
</ul>
<p>doing</p>
<ul>
{% for row in doing %}
    <li>{{row.detail}}</li>
    <form method="POST" action="/update">
        <input type="hidden" name="id" value={{row.id}}>
        <input type="hidden" name="flag" value="done">
        <input type="submit">
    </form>
{%endfor%}
</ul>
<p>done</p>
<ul>
{% for row in done %}
    <li>{{row.detail}}</li>
    <form method="POST" action="/delete">
        <input type="hidden" name="id" value={{row.id}}>
        <input type="hidden" name="flag" value="delete">
        <input type="submit">
    </form>
{%endfor%}
<form method="POST" action="/regist">
    <ul>
        <li>ID<input type = "string" name = "id"></li>
        <li>年<input type = "string" name = "year"></li>
        <li>月<input type = "string" name = "month"></li>
        <li>日<input type = "string" name = "day"></li>
        <li>内容<input type = "string" name = "detail"></li>
        <li><input type = "submit"></li>
    </ul>
</form>
</ul>
</body>
</html>